/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Color de fondo cálido */
}

/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
}

.logo {
    font-size: 24px;
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Estilos para el main */
main {
    margin-top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Estilos para las secciones */
section {
    margin-bottom: 40px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
}

section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los clips de videos */
#clips video {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para el formulario de contacto */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: rgb(0, 255, 98);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Estilos para los íconos de redes sociales en el pie de página */
.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a {
    color: rgb(175, 0, 0);
    text-decoration: none;
    font-size: 24px;
}


/* Estilos para las redes sociales en el pie de página */
.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
/* Estilos para los clips de videos */
#clips {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.video-clip {
    /* Estilos para cada video clip */
    max-width: 100%;
    height: auto;
}
/* Estilos para las secciones de la segunda página */
#transmitir, #subir-clips {
    margin-bottom: 40px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    width: 35%;
    box-sizing: border-box;
    text-align: justify;
}

#transmitir h1, #subir-clips h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#transmitir button, #subir-clips button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#transmitir button:disabled, #subir-clips button:disabled {
    background-color: #ccc;
}

#transmitir button:hover, #subir-clips button:hover:not(:disabled) {
    background-color: #555;
}

/* Ajuste del input de archivos */
#subir-clips input {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para el estado de la transmisión */
#status {
    margin-top: 10px;
    font-weight: bold;
}

/* Mostrar el menú hamburguesa en pantallas pequeñas */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        font-size: 24px; /* Tamaño del icono */
        color: #333; /* Color del icono */
        cursor: pointer; /* Mostrar el cursor como puntero al pasar sobre el icono */
    }

    nav ul {
        flex-direction: column;
        display: none;
    }

    nav ul.show {
        display: flex;
    }
}
